/*
  # a-blog cms に追加予定

  クラス名	デフォルトのブレイクポイント
  acms-admin-col-	    全て
  acms-admin-col-sm-	480px以上〜
  acms-admin-col-md-	768px以上〜
  acms-admin-col-lg-	1024px以上〜
  acms-admin-col-xl-	1440px以上〜

  min-width: global.$breakpoint-sm-min -> min-width: 480px
  max-width: global.$breakpoint-md-max -> max-width: 767px
  min-width: global.$breakpoint-md-min -> min-width: 768px
  max-width: global.$breakpoint-lg-max -> max-width: 1023px
  min-width: global.$breakpoint-lg-min -> min-width: 1024px
  max-width: global.$breakpoint-xl-max -> max-width: 1439px
  min-width: global.$breakpoint-xl-min -> min-width: 1440px
*/

/* --------------------------------------
ユーティリティ
-------------------------------------- */
.acms-flex {
  display: flex !important;
}
.acms-flex-row {
  flex-direction: row !important;
}
.acms-flex-col {
  flex-direction: column !important;
}
.acms-contents {
  display: contents !important;
}
.acms-flex-1 {
  flex: 1 1 0% !important;
}
.acms-items-start	{
  align-items: flex-start !important;
}
.acms-items-end	{
  align-items: flex-end !important;
}
.acms-items-center	{
  align-items: center !important;
}
.acms-items-baseline	{
  align-items: baseline !important;
}
.acms-items-stretch	{
  align-items: stretch !important;
}


@media (min-width: 480px) {
  .acms-flex-min-sm {
    display: flex !important;
  }
  .acms-flex-row-min-sm {
    flex-direction: row !important;
  }
  .acms-flex-col-min-sm {
    flex-direction: column !important;
  }
  .acms-contents-min-sm {
    display: contents !important;
  }
  .acms-flex-1-sm {
    flex: 1 1 0% !important;
  }
  .acms-items-start-min-sm	{
    align-items: flex-start !important;
  }
  .acms-items-end-min-sm	{
    align-items: flex-end !important;
  }
  .acms-items-center-min-sm	{
    align-items: center !important;
  }
  .acms-items-baseline-min-sm	{
    align-items: baseline !important;
  }
  .acms-items-stretch-min-sm	{
    align-items: stretch !important;
  }
}

@media (min-width: 768px) {
  .acms-flex-md {
    display: flex !important;
  }
  .acms-flex-row-min-md {
    flex-direction: row !important;
  }
  .acms-flex-col-min-md {
    flex-direction: column !important;
  }
  .acms-contents-min-md {
    display: contents !important;
  }
  .acms-flex-1-min-md {
    flex: 1 1 0% !important;
  }
  .acms-items-start-min-md	{
    align-items: flex-start !important;
  }
  .acms-items-end-min-md	{
    align-items: flex-end !important;
  }
  .acms-items-center-min-md	{
    align-items: center !important;
  }
  .acms-items-baseline-min-md	{
    align-items: baseline !important;
  }
  .acms-items-stretch-min-md	{
    align-items: stretch !important;
  }
}

@media (min-width: 1024px) {
  .acms-flex-lg {
    display: flex !important;
  }
  .acms-flex-row-min-lg {
    flex-direction: row !important;
  }
  .acms-flex-col-lg {
    flex-direction: column !important;
  }
  .acms-contents-lg {
    display: contents !important;
  }
  .acms-flex-1-lg {
    flex: 1 1 0% !important;
  }
  .acms-items-start-lg	{
    align-items: flex-start !important;
  }
  .acms-items-end-lg	{
    align-items: flex-end !important;
  }
  .acms-items-center-lg	{
    align-items: center !important;
  }
  .acms-items-baseline-lg	{
    align-items: baseline !important;
  }
  .acms-items-stretch-lg	{
    align-items: stretch !important;
  }
}

@media (min-width: 1440px) {
  .acms-flex-min-xl {
    display: flex !important;
  }
  .acms-flex-row-min-xl {
    flex-direction: row !important;
  }
  .acms-flex-col-min-xl {
    flex-direction: column !important;
  }
  .acms-contents-min-xl {
    display: contents !important;
  }
  .acms-flex-1-min-xl {
    flex: 1 1 0% !important;
  }
  .acms-items-start-min-xl	{
    align-items: flex-start !important;
  }
  .acms-items-end-min-xl	{
    align-items: flex-end !important;
  }
  .acms-items-center-min-xl	{
    align-items: center !important;
  }
  .acms-items-baseline-min-xl	{
    align-items: baseline !important;
  }
  .acms-items-stretch-min-xl	{
    align-items: stretch !important;
  }
}

/* --------------------------------------
レイアウトクラス
-------------------------------------- */

.acms-admin-grid-edit-table {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 12px;
  box-sizing: border-box;
  font-size: 14px;
}
@media (min-width: 768px) {
  .acms-admin-grid-edit-table {
    display: grid;
    gap: 10px;
  }
}
.acms-admin-grid-edit-table * {
  box-sizing: border-box;
}
.acms-admin-grid-edit-table .acms-admin-icon-tooltip {
  margin-left: 10px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .acms-admin-grid-edit-table .acms-admin-icon-tooltip {
      margin-right: -25px;
  }
}
.acms-admin-grid-edit-table-heading {
  width: 100%;
  color: #4b4b4b;
  font-weight: bold;
  line-height: 1.7;
  text-align: left;
  vertical-align: top;
}
@media (min-width: 768px) {
  .acms-admin-grid-edit-table-heading {
    width: 250px;
    padding-right: 35px;
    text-align: right;
  }
}

/*
  # a-blog cms で build されるもの
*/
.acms-admin-flex {
  display: flex !important;
}
.acms-admin-flex-row {
  flex-direction: row !important;
}
.acms-admin-flex-col {
  flex-direction: column !important;
}
.acms-admin-contents {
  display: contents !important;
}
.acms-admin-flex-1 {
  flex: 1 1 0% !important;
}
.acms-admin-items-start	{
  align-items: flex-start !important;
}
.acms-admin-items-end	{
  align-items: flex-end !important;
}
.acms-admin-items-center	{
  align-items: flex-center !important;
}
.acms-admin-items-baseline	{
  align-items: baseline !important;
}
.acms-admin-items-stretch	{
  align-items: stretch !important;
}

@media (min-width: 480px) {
  .acms-admin-flex-min-sm {
    display: flex !important;
  }
  .acms-admin-flex-row-min-sm {
    flex-direction: row !important;
  }
  .acms-admin-flex-col-min-sm {
    flex-direction: column !important;
  }
  .acms-admin-contents-min-sm {
    display: contents !important;
  }
  .acms-admin-flex-1-min-sm {
    flex: 1 1 0% !important;
  }
  .acms-admin-items-start-min-sm	{
    align-items: flex-start !important;
  }
  .acms-admin-items-end-min-sm	{
    align-items: flex-end !important;
  }
  .acms-admin-items-center-min-sm	{
    align-items: center !important;
  }
  .acms-admin-items-baseline-min-sm	{
    align-items: baseline !important;
  }
  .acms-admin-items-stretch-min-sm	{
    align-items: stretch !important;
  }
}

@media (min-width: 768px) {
  .acms-admin-flex-min-md {
    display: flex !important;
  }
  .acms-admin-flex-row-min-md {
    flex-direction: row !important;
  }
  .acms-admin-flex-col-min-md {
    flex-direction: column !important;
  }
  .acms-admin-contents-min-md {
    display: contents !important;
  }
  .acms-admin-flex-1-min-md {
    flex: 1 1 0% !important;
  }
  .acms-admin-items-start-min-md	{
    align-items: flex-start !important;
  }
  .acms-admin-items-end-min-md	{
    align-items: flex-end !important;
  }
  .acms-admin-items-center-min-md	{
    align-items: center !important;
  }
  .acms-admin-items-baseline-min-md	{
    align-items: baseline !important;
  }
  .acms-admin-items-stretch-min-md	{
    align-items: stretch !important;
  }
}

@media (min-width: 1024px) {
  .acms-admin-flex-min-lg {
    display: flex !important;
  }
  .acms-admin-flex-row-min-lg {
    flex-direction: row !important;
  }
  .acms-admin-flex-col-min-lg {
    flex-direction: column !important;
  }
  .acms-admin-contents-min-lg {
    display: contents !important;
  }
  .acms-admin-flex-1-min-lg {
    flex: 1 1 0% !important;
  }
  .acms-admin-items-start-min-lg	{
    align-items: flex-start !important;
  }
  .acms-admin-items-end-min-lg	{
    align-items: flex-end !important;
  }
  .acms-admin-items-center-min-lg	{
    align-items: center !important;
  }
  .acms-admin-items-baseline-min-lg	{
    align-items: baseline !important;
  }
  .acms-admin-items-stretch-min-lg	{
    align-items: stretch !important;
  }
}

@media (min-width: 1440px) {
  .acms-admin-flex-min-xl {
    display: flex !important;
  }
  .acms-admin-flex-row-min-xl {
    flex-direction: row !important;
  }
  .acms-admin-flex-col-min-xl {
    flex-direction: column !important;
  }
  .acms-admin-contents-min-xl {
    display: contents !important;
  }
  .acms-admin-flex-1-min-xl {
    flex: 1 1 0% !important;
  }
  .acms-admin-items-start-min-xl	{
    align-items: flex-start !important;
  }
  .acms-admin-items-end-min-xl	{
    align-items: flex-end !important;
  }
  .acms-admin-items-center-min-xl	{
    align-items: center !important;
  }
  .acms-admin-items-baseline-min-xl	{
    align-items: baseline !important;
  }
  .acms-admin-items-stretch-min-xl	{
    align-items: stretch !important;
  }
}
